.card {
    background-color: #685002;
    padding: 1.5rem;
    border-radius: 0.5rem;

    .card-header {
        color: #fff;
    }

    .card-content {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: #282828;
        color: #fff;
        padding: 1.5rem;
        border-radius: 0.8rem;
        border: 0.01rem solid #fff;

        pre {
            margin-top: 1rem;
        }
    }

    .card-footer {
        margin-top: 1rem;
    }
}

.color-brown {
    background-color: #685002
} 

.color-green {
    background-color: #1D3F00
} 

.color-blue {
    background-color: #002340
} 

.color-red {
    background-color: #530001
}